.password-reset-form-wrapper {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
  }
  
  .password-reset-image-wrapper {
    background-image: url('candy.jpg');
    background-size: cover;
    background-position: center;
  }