.register-background {
    background-image: url('candy.jpg');
    background-size: cover;
    height: 100vh;
  }
  
  .register-form-col {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 50px;
    margin-top: 100px; 
    border-radius: 15px;
  }
  
  .register-form {
    margin: 20px 0;
  }
  
  .login-link {
    margin-top: 20px;
  }