.footer {
    background-color: #FFD6D6;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    display: none;
    line-height: 30px;
  }
  
  .footer.show {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  body {
    margin-bottom: 30px;
  }
  